body{
	margin: 2.5% 7%;
	font-size: 18px;
	font-family: 'Arial';
}

#logo > img{
	margin-left:10px;
}

#category{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#favorites{
	text-align: right;
}

#favorites > img{
	margin-right: 10px;
}

#productrow{
	margin-top: 15px;
}

#name{
	text-align: center;
	margin-top: 10px;
}

#details{
	float: right;
	width: 50%;
	margin: 35px 0 0 0;
}

#guess{
	text-align: left;
}

#skip{
	text-align: right;
}

#optionrowa{
	margin-top: 15px;
}


#optionrowb{
	margin-top:10px;
}

#copyright{
	text-align: center;
	font-weight: bold;
}