body{
	margin: 2.5% 7%;
	font-size: 18px;
	font-family: 'Arial';
	max-height: auto;
}
a {
	cursor: pointer;
	color: inherit;
}
a:hover{
	text-decoration: none;
	color: green;
}

#logo > img{
	margin-left:10px;
}

#category{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#share{
	text-align: right;
}

#share > img{
	margin-right: 10px;
}

#productrow{
	margin-top: 25px;
}

#name{
	text-align: center;
	margin-top: 5px;
}

#details{
	float: right;
	width: 50%;
	margin: 65px 0 0 0;
}

#guess{
	text-align: left;
}

#skip{
	text-align: right;
}

#optionrowa{
	margin-top: 20px;
	margin-bottom: 15px;
}


#optionrowb{
	margin-top:10px;
	margin-bottom: 20px;
}

#copyright{
	text-align: center;
	font-weight: bold;
}

.glyphicon {
  top: 3px;
}

#guess > div{
	margin-left: 3px;
	font-style: italic;
}
#image{
	text-align: center;
}
#share > a > i{
	font-size: 2.5em;
	color: #333 !important;
}
#dropdownMenu{
    width: 80%;
}
#logo > i{
	font-size: 2.5em;
}
.btn{
	background-color:#006400;
}
.btn-default {
    color: #fff;
    border-color: #006400;
}