body{
	margin: 2.5% 7%;
	font-size: 18px;
	font-family: 'Arial';
}

#category{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#skip{
	text-align: right;
}

#logo > img{
	padding-left:10px;
}

#skip > img{
	padding-right: 10px;
}

#productrow{
	margin-top: 15px;
}

#optionsrowa{
	margin-top: 15px;
}

#name{
	text-align: center;
	margin-top: 10px;
}

#optionsrowb{
	margin-top:10px;
}

#guess{
	text-align: left;
	font-weight: bold;
}

#copyright{
	text-align: center;
	font-weight: bold;
}